{
  "parserOption": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "import",
    "prefer-object-spread"
  ],
  "settings": {
    "import/ignore": [
      "node_modules",
      "\\.json$"
    ],
    "import/extensions": [
      ".js",
      ".jsx"
    ]
  },
  "globals": {
    "Promise": true,
    "window": true,
    "$": true,
    "ga": true,
    "jQuery": true,
    "router": true
  },
  "rules": {
    "block-scoped-var": 0,
    "brace-style": [ 1, "1tbs", { "allowSingleLine": true } ],
    "camelcase": 1,
    "comma-dangle": 1,
    "comma-spacing": [ 1, { "before": false, "after": true } ],
    "comma-style": [ 1, "last" ],
    "complexity": 0,
    "consistent-return": 1,
    "consistent-this": 0,
    "curly": 1,
    "default-case": 1,
    "dot-notation": 0,
    "eol-last": 1,
    "eqeqeq": 1,
    "func-names": 0,
    "func-style": 0,
    "guard-for-in": 1,
    "handle-callback-err": 1,
    "jsx-quotes": [ 1, "prefer-single" ],
    "key-spacing": [ 1, { "beforeColon": false, "afterColon": true } ],
    "keyword-spacing": [ 1 ],
    "max-depth": 0,
    "max-len": [ 1, 80, 1 ],
    "max-nested-callbacks": 0,
    "max-params": 0,
    "max-statements": 0,
    "new-cap": 0,
    "new-parens": 1,
    "no-alert": 1,
    "no-array-constructor": 1,
    "no-bitwise": 1,
    "no-caller": 1,
    "no-catch-shadow": 1,
    "no-cond-assign": 1,
    "no-console": 0,
    "no-constant-condition": 1,
    "no-control-regex": 1,
    "no-debugger": 1,
    "no-delete-var": 1,
    "no-div-regex": 1,
    "no-dupe-keys": 1,
    "no-else-return": 0,
    "no-empty": 1,
    "no-empty-character-class": 1,
    "no-eq-null": 1,
    "no-eval": 1,
    "no-ex-assign": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": 0,
    "no-extra-semi": 1,
    "no-fallthrough": 1,
    "no-floating-decimal": 1,
    "no-func-assign": 1,
    "no-implied-eval": 1,
    "no-inline-comments": 1,
    "no-inner-declarations": 1,
    "no-invalid-regexp": 1,
    "no-irregular-whitespace": 1,
    "no-iterator": 1,
    "no-label-var": 1,
    "no-labels": 1,
    "no-lone-blocks": 1,
    "no-lonely-if": 1,
    "no-loop-func": 1,
    "no-mixed-requires": 0,
    "no-mixed-spaces-and-tabs": 1,
    "no-multi-spaces": 1,
    "no-multi-str": 1,
    "no-multiple-empty-lines": [ 1, { "max": 1 } ],
    "no-native-reassign": 1,
    "no-negated-in-lhs": 1,
    "no-nested-ternary": 1,
    "no-new": 1,
    "no-new-func": 1,
    "no-new-object": 1,
    "no-new-require": 1,
    "no-new-wrappers": 1,
    "no-obj-calls": 1,
    "no-octal": 1,
    "no-octal-escape": 1,
    "no-path-concat": 1,
    "no-plusplus": 0,
    "no-process-env": 0,
    "no-process-exit": 1,
    "no-proto": 1,
    "no-redeclare": 1,
    "no-regex-spaces": 1,
    "no-reserved-keys": 0,
    "no-restricted-modules": 0,
    "no-return-assign": 1,
    "no-script-url": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-shadow": 0,
    "no-shadow-restricted-names": 1,
    "no-spaced-func": 1,
    "no-sparse-arrays": 1,
    "no-sync": 0,
    "no-ternary": 0,
    "no-trailing-spaces": 1,
    "no-undef": 1,
    "no-undef-init": 1,
    "no-undefined": 1,
    "no-underscore-dangle": 0,
    "no-unreachable": 1,
    "no-unused-expressions": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 0,
    "no-void": 0,
    "no-warning-comments": [ 1, { "terms": [ "fixme" ], "location": "start" } ],
    "no-with": 1,
    "one-var": 0,
    "operator-assignment": 0,
    "padded-blocks": 0,
    "quote-props": [ 1, "as-needed" ],
    "quotes": [ 1, "single", "avoid-escape" ],
    "radix": 1,
    "semi": [ 1, "always" ],
    "semi-spacing": [ 1, { "before": false, "after": true } ],
    "sort-vars": 0,
    "space-before-blocks": [ 1, "always" ],
    "space-before-function-paren": [ 1, "never" ],
    "space-in-brackets": 0,
    "space-in-parens": 0,
    "space-infix-ops": 1,
    "space-unary-ops": [ 1, { "words": true, "nonwords": false } ],
    "spaced-comment": [ 1, "always", { "exceptions": [ "-" ] } ],
    "strict": 0,
    "use-isnan": 1,
    "valid-jsdoc": 1,
    "valid-typeof": 1,
    "vars-on-top": 0,
    "wrap-iife": [ 1, "any" ],
    "wrap-regex": 1,
    "yoda": 0,

    "react/display-name": 1,
    "react/jsx-boolean-value": [ 1, "always" ],
    "react/jsx-closing-bracket-location": [ 1, { "selfClosing": "line-aligned", "nonEmpty": "props-aligned" } ],
    "react/jsx-no-undef": 1,
    "react/jsx-sort-props": [ 1, { "ignoreCase": true } ],
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-wrap-multilines": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": [ 1, { "ignoreStateless": true } ],
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/sort-prop-types": 1,

    "import/default": 1,
    "import/export": 1,
    "import/extensions": [ 0, "always" ],
    "import/first": 1,
    "import/named": 1,
    "import/namespace": 1,
    "import/newline-after-import": 1,
    "import/no-duplicates": 1,
    "import/no-unresolved": 1,
    "import/unambiguous": 1,

    "prefer-object-spread/prefer-object-spread": 1
  }
}
